
body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 4rem;
    background-color: #000;
    color: #ffffff;
    position: absolute;
    top: 0;
}

header h4{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#main-photo {
    margin-top: 4.5rem;
    text-align: center;
}

#main-photo img {
    width: 70vw;
    height: 65vh;
    border-radius: 2px;
}

#main-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
}


#main-gallery figure {
    flex: 1;
}

#main-gallery img {
    width: 8rem;
    height: 8rem; 
    border-radius: 2px; 
    opacity: 0.8;
    cursor: pointer;
}

#main-gallery img:hover {
    opacity: 1.0;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    #main-photo img {
        width: 90vw;
    }
}